@charset 'utf-8';

article, section { position: relative;
	&:before, &:after { content: " "; display: table; clear: both; }
	+ article { margin-top: 40px; }
	+ section { margin-top: 20px; }
}

.vt-wrap {
	@include absolute;
	max-width: $view-max;
	// min-width: $view-min;
	margin: 0 auto;
	@include themify(( 'background-color': base-bg ));

	> header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: $header-height;
		@include themify((
			'background-color': header-bg,
			'box-shadow': shadow-bit
		));
		z-index: 10;

		.vt-header {
			display: flex;
			align-items: center;
			max-width: $view-max;
			min-width: $view-min;
			height: 100%;
			margin: 0 auto;
			padding: 0 20px 2px;
			@include themify(( 'color': header-text ));
		}

		& ~ aside, & ~ main {
			top: $header-height;
		}
	}

	> aside {
		@include absolute(top, left, bottom);
		width: $snb-width;
		padding-top: 45px;
		@include themify((
			'border-right': 1px solid base-line,
			'background-color': base-bg
		));
		z-index: 9;

		& ~ main .vt-content {
			min-width: $view-min - $snb-width;
		}
	}
}

main {
	@include absolute;
	margin-left: $snb-width;
	@include themify(( 'background-color': base-bg ));
	overflow: auto;
	overflow: overlay;
}

.vt-content {
	position: relative;
	min-width: $view-min;
	min-height: 100%;
	padding: $content-padding;
}

.vt-snb {
    padding: 0 13px;
    max-height: 100%;
    overflow: auto;
    overflow: overlay;

	a {
		display: block;
		@extend %ellipsis;
		&:hover {
			@include themify(( 'color': primary ));
		}
	}

	ul {
		height: auto;
		padding-left: 16px;
		overflow: hidden;
	}

	&-d1 {
		padding: 3px 0;
		@include themify(( 'border-bottom': 1px solid base-line ));

		&:first-child {
			@include themify(( 'border-top': 1px solid base-line ));
		}

		> a {
			padding: 9px 10px;
			font-size: $font-large;
			font-weight: $font-medium;
			border-radius: $border-radius;
		}

		> ul { margin: 6px 0 10px; }

		&.vt-active > a {
			@include themify(('background-color': primary-alpha));
			// + ul { margin-top: 6px; }
		}
	}

	&-d2 {
		// margin: 10px 0;
		padding: 4px 0;
		
		> a { padding: 2px; }
		&.vt-active > a {
			font-weight: $font-regular;
		}
	}
}
