@charset 'utf-8';

// * --- PrimeVue override
.p-component:not(div) + .p-component:not(div) {
	margin-left: 10px;
}
.p-component.p-button + .p-button {
	margin-left: 5px;
}
.p-buttonset > .p-button + .p-button,
.p-splitbutton > .p-button + .p-button {
	margin-left: -1px;
}
.p-splitbutton .p-button:focus {
	position: relative;
	z-index: 1;
}
.p-button:not(.p-button-icon-only) {
	min-width: 4em;
}
.p-confirm-dialog {
	width: 300px;
}

// --- Toast
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
	font-weight: 500;
}