@charset 'utf-8';

$vue-primary: #41b883;
$vue-secondary: #35495e;
$vue-secondary-deep: #2c3c4e; // darken($vue-secondary, 5);
// #e9ecef
// #dee2e6
// #d3d8dd
// @debug lighten(#6c757d, 45%);
// @debug lighten(#6c757d, 50%);
// @debug lighten(#6c757d, 55%);
// Theme Maps
$default: (
	primary: #008494,
	primary-hover: #007785,
	primary-active: #006a76,
	primary-text: #ffffff,
	primary-hover-text: #ffffff,
	primary-active-text: #ffffff,
	primary-alpha: rgba(#008494, 8%),
	primary-alpha-deep: rgba(#008494, 16%),
	secondary: #e9ecef,
	secondary-hover: #dee2e6,
	secondary-active: #d3d8dd,
	secondary-text: #2c3e50,
	secondary-hover-text: #2c3e50,
	secondary-active-text: #2c3e50,
	secondary-alpha: rgba(#8293a4, 8%),
	secondary-alpha-deep: rgba(#8293a4, 16%),
	success: #41b883,
	success-hover: #3ba676,
	success-active: #349369,
	success-text: #ffffff,
	success-hover-text: #ffffff,
	success-active-text: #ffffff,
	success-alpha: rgba(#41b883, 8%),
	success-alpha-deep: rgba(#41b883, 16%),
	base-bg: #ffffff,
	header-bg: $vue-secondary-deep,

	// Text
	base-text: #2c3e50,
	header-text: #41b883,

	// Line
	base-line: lighten(/* base-text */ #2c3e50, 65%), // #dce4ec
	box-line: #d9e0e3,

	// Shadow
	focus-ring: #a6d5fa,
	focus-ring-secondary: #cdd4db,
	focus-ring-success: #b2e4ce,
	shadow-bit: 0 1px 2px 0 rgba(0, 0, 0, 0.25),

	// Etc.
	scroll-bar: rgba(lighten(/* base-text */ #2c3e50, 60%), 0.6), // #cbd7e3
	scroll-bar-hover: rgba(lighten(#2c3e50, 60%), 0.8),
);

$dark: (
	// primary: #2222b2,
	// base-bg: #223436,
);

// $font-family: Avenir, Helvetica, Arial, sans-serif;
$font-family: "Spoqa Han Sans";
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;
$font-base: 12px;
$font-small: 11px;
$font-large: 14px;

//* lighten($color, $percentage);
//* darken($color, $percentage);
//* mix($color1, $color2, $percentage);

// Layouts
$view-max: 2560px;
$view-min: 1280px;
$header-height: 50px;
$snb-width: 220px;
$content-padding: 20px 26px 40px;
$border-radius: 3px;
$field-height: 28px;
$field-sm-height: 26px;
$field-lg-height: 32px;
$field-padding: 6px 8px;
$field-sm-padding: 5px 7px;
$field-lg-padding: 7px 9px;
$button-padding: 4px 9px;
$button-sm-padding: 3.5px 8px;
$button-lg-padding: 5px 11px;


// Placeholders
%flex {

}
%ellipsis {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}